
mainw()
	max-width 995px
	margin 0 auto
flex()
	display flex
	justify-content space-between
	flex-wrap wrap
blbox()
	padding 10px 25px	
	border-radius 4px		
	background cl3
icon()
	background url("../images/sprite.png") no-repeat
	display inline-block
	margin-left 6px
	width 26px
	height 26px		
	cursor pointer
	